body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 나눔고딕;
}

.wrap {
    width: 100%;
}

.header {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 50px;
}

.search {
    position: absolute;
    right: 400px;
    outline: none;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#search {
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 0;
    flex-grow: 1; /* Input이 남은 공간을 차지하도록 함 */
}

#search:focus {
    outline: none;
}

#searchB {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
}

.dropdown {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dropdown .btn-secondary {
    background-color: transparent; /* 배경색 없애기 */
    color: #333333;
    border: none;
    width: 200px;
}
.dropdown .btn-secondary:focus, .dropdown .btn-secondary:hover {
    background-color: transparent; /* 호버 및 포커스 시 배경색 없애기 */
}
/* 드롭다운 화살표 숨기기 */
.dropdown-toggle::after {
    display: none !important;
}

.product-inform {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
    height: 700px;
    padding: 100px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd {
    width: 450px;
    height: 400px;
}

#pd {
    align-items: flex-start;
}

.product-detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
}

.product-detail label {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.price {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 350px;
}

.price #price {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: gray;
    text-decoration: line-through;
}

.price #sp {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.price #sale {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.betw {
    display: flex;
    align-items: center;
    gap: 20px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.option select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    appearance: none; /* 기본 드롭다운 화살표 제거 */
}

.option select:focus {
    outline: none; /* 포커스 시 기본 테두리 제거 */
    border: 1px solid #007bff; /* 포커스 시 테두리 색상 변경 */
}

.option option:first-child {
    display: none; /* 기본 텍스트가 드롭다운 시 보이지 않게 설정 */
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.delivery {
    display: flex;
    flex-direction: column;
}

#di {
    margin: 10px 0;
}

#add {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

#buy {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.button button {
    width: 300px;
    height: 50px;
    margin: 30px 0;
}

.footer {
    background-color: #007bff;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}